.dashboard {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  flex-direction: column;

  /* Margin and padding */
  margin: 6.7vh 6.25vw 8.4vh 7.5vw;
}

.dashboard__header {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  flex-direction: column;
  gap: 5.5vh;
}

.dashboard__header__greetings {
  /* Font */
  font-size: 48px;
  font-weight: 500;
}

.dashboard__header__greetings__name {
  /* Font */
  color: #FF0101;
}

.dashboard__header__feedback {
  /* Font */
  font-size: 18px;
}