.dashboard {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  flex-direction: column;

  /* Margin and padding */
  margin: 5vh 6.25vw 7vh 7.5vw;
}

.dashboard__header {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.dashboard__header__greetings {
  /* Font */
  font-size: 3.25vw;
  font-weight: 500;
}

.dashboard__header__greetings__name {
  /* Font */
  color: #FF0101;
}

.dashboard__header__feedback {
  /* Font */
  font-size: 1.25vw;
}

.dashboard__stats {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  align-items: center;
}

.charts {
  /* Size */
  width: 75%;

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charts-top {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutritionals {
  /* Size */
  width: 25%;

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
}