.navbar {
  /* Display */
  display: flex;
  align-items: center;

  /* Background */
  background-color: #020203;
}

.navbar-top {
  /* Size */
  height: 9vh;

  /* Display */
  justify-content: space-between;

  /* Margin and padding */
  padding: 0 4vw 0 2vw;
}

.navbar-left {
  /* Size */
  width: 11.5vh;

  /* Display */
  flex: 1;
  flex-direction: column-reverse;
  gap: 17.5vh;

  /* Margin and padding */
  padding-bottom: 5.75vh;
}

.navbar__copyright {
  /* Font */
  color: #ffffff;
  font-size: 1.2vh;
  font-weight: 500;
  writing-mode: vertical-rl;

  /* Transform */
  transform: rotate(180deg);
}
