.nav-icons {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.nav-icons__button {  
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background */
  background-color: #ffffff;

  /* Border */
  border-radius: 0.4vw;

  /* Margin and padding */
  padding: .9vw;

  /* Interactivity */
  cursor: pointer;
}

.nav-icons__button__icon {
  /* Size */
  width: 2vw;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons__button__icon__img {
  /* Size */
  width: 100%;
}