.app, .nav {
  /* Size */
  width: 100%;
  height: 100%;

  /* Display */
  display: flex;
}

.app {
  /* Position */
  position: relative;
}

.nav {
  /* Display */
  flex-direction: column;

  /* Position */
  position: absolute;
}

.main {
  /* Display */
  display: flex;
  flex: 1;

  /* Margin and padding */
  padding-top: 15vh;
  padding-left: 12.5vw;
}