@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body,
#root {
  /* Display */
  display: flex;
}

*,
body {
  /* Margin and padding */
  margin: 0;
}

body {
  /* Size */
  width: 100vw;
  height: 100vh;

  /* Font */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* Size */
  width: 100%;
}
