.nav-icons {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 1.9vh;
}

.nav-icons__button {  
  /* Size */
  width: 3.5vh;
  height: 3.5vh;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background */
  background-color: #ffffff;

  /* Border */
  border-radius: 0.4vw;

  /* Margin and padding */
  padding: 1.4vh;

  /* Interactivity */
  cursor: pointer;
}

.nav-icons__button__icon {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons__button__icon__img {
  /* Size */
  width: 100%;
}