.average-line-chart {
  /* Size */
  width: 25.5vh;
  height: 25.5vh;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* Position */
  position: relative;

  /* Background */
  background-color: rgb(255, 0, 0);

  /* Border */
  border-radius: 0.5vw;
}

.average-line-chart__title {
  /* Size */
  max-width: 15vh;

  /* Position */
  position: absolute;
  top: 2.75vh;
  left: 2.75vh;

  /* Font */
  font-size: 1.5vh;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.average-line-chart .recharts-text {
  /* Font */
  font-size: 1.5vh;
}

.average-custom-tooltip {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background */
  background-color: #ffffff;

  /* Margin and padding */
  padding: 0.25vh 0.75vh;
}

.average-custom-tooltip__text {
  /* Font */
  font-weight: 500;
  font-size: 0.77vh;
}
